
# Dot Net
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.zip

# Terraform
/.terraform/*
.terraform.lock*
*.terraform/
*.tfstate
*.tfstate.backup

# VS Code
.vscode