# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.zip

# Python
__pycache__/

# Terraform
/.terraform/*
.terraform.lock*
*.terraform/
*.tfstate
*.tfstate.backup

# VS Code
.vscode